body {
    display: flex;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    color: white;
}

input {
    all: unset;
    padding: 0 3px;
    font-weight: bold;
    font-size: 40px;
    caret-shape: block;
}

button {
    all: unset;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: rgb(179, 194, 173);
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.selected {
    color: rgb(72, 255, 0);
    font-size: 30px;
}

.form-input, .form {
    display: flex;
    flex-direction: column;
}

.form {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.input-field {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px solid white;
}

#container {
    display: flex;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 40px 50px rgba(0, 0, 0, 0.4);
}

#frame {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#cat {
    width: 400px;
    flex-shrink: 1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 10px;
}

#right {
    min-height: 300px;
    min-width: 700px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#folders {
    display: flex;
}

#input {
    display: flex;
}

#greeting {
    font-size: 20px;
    text-align: center;
}

.bookmark-folder {
    padding: 0 15px;
} 

#prompt {
    font-size: 40px;
    margin-right: 10px;
}

#bookmarks-window {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
}