body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    color: white;
}

input {
    all: unset;
    padding: 0 3px;
    font-weight: bold;
    font-size: 40px;
    caret-shape: block;
}

button {
    all: unset;
    cursor: pointer;
    border: 1px solid white;
    padding: 5px 10px;
    margin: 0 3px;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: rgb(179, 194, 173);
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.form-input, 
.form,
.folder {
    display: flex;
    flex-direction: column;
}

.form {   
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.active {
    display: flex;
}

.form-buttons {
    margin-top: 30px;
}

.input-field {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px solid white;
}

.folder {
    width: 250px;
    margin: 0 30px 40px 0;
}

.folder-name {
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    color: #b95fd2;
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin: 10px;
}

.link {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.link p {
    font-size: 20px;
    color: rgb(255, 115, 0);
    padding: 0 0 10px 0;
    margin: 0 10px;
    cursor: pointer;
}

#container {
    display: flex;
    padding: 15px 10px;
}


img {
    width: 400px;
    max-height: 600px;
    flex-shrink: 1;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

#right {
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#folders {
    display: flex;
}

#input {
    display: flex;
    margin: 10px 0;
    min-width: 1130px;
}

#greeting {
    font-size: 25px;
    width: 400px;
    text-align: center;
}

#prompt {
    font-size: 40px;
    margin-right: 10px;
}

#bookmarks-window {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
}